<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Backbone.js Todos</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/todos.css"/>
    </head>

    <body>

        <div id="todoapp">

            <header>
                <h1>Todos</h1>
                <input id="new-todo" type="text" placeholder="What needs to be done?">
            </header>

            <section id="main">
                <input id="toggle-all" type="checkbox">
                <label for="toggle-all">Mark all as complete</label>
                <ul id="todo-list"></ul>
            </section>

            <footer></footer>


            <!-- Templates -->
            <script type="text/template" id="item-template">
                <div class="view">
                <input class="check" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
                <span <%= done ? 'class="done"' : '' %>><%= title %></span>
                <a class="destroy"></a>
                </div>
                <input class="edit" type="text" value="<%= title %>">
            </script>

            <script type="text/template" id="stats-template">
                <% if (done) { %>
                <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
                <% } %>
                <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
            </script>

        </div>

        <div id="instructions">
            Double-click to edit a todo.
        </div>

        <script src="{{ STATIC_URL }}js/json2.js"></script>
        <script src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
        <script src="{{ STATIC_URL }}js/underscore-min.js"></script>
        <script src="{{ STATIC_URL }}js/backbone-min.js"></script>
        <script src="{{ STATIC_URL }}js/backbone-tastypie.js"></script>

        <script src="{{ STATIC_URL }}js/Todosbo.js"></script>
        <script src="{{ STATIC_URL }}js/Todosbo.Todo.js"></script>
        <script src="{{ STATIC_URL }}js/Todosbo.TodoList.js"></script>
        <script src="{{ STATIC_URL }}js/Todosbo.TodoView.js"></script>
        <script src="{{ STATIC_URL }}js/Todosbo.TodosView.js"></script>
        <script src="{{ STATIC_URL }}js/Todosbo.App.js"></script>
        <script src="{{ STATIC_URL }}js/init.js"></script>

    </body>
</html>
